{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>
                <p>{{ product.id }}</p>
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                {% if product.createdAt %}
                    <p>{{ product.createdAt.date }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
