{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <ul>
        <li>
            <p>{{ product.id }}</p>
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <img src="{{ asset('uploads/image/' ~ product.image) }}" alt="{{ product.name }}" />
            <p>{{ product.price }}</p>
            {% if product.createdAt %}
                <p>{{ product.createdAt.date }}</p>
            {% endif %}
            {# {% for tag in product.tag %}
                <p>{{ tag }}</p>
            {% endfor %} #}
            {{ product.tag }}
        </li>
    </ul>
    
    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
{% endblock %}
