{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <ul>
        <li>
            <p>{{ product.id }}</p>
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            {% if product.image %}
                <img src="{{ asset('uploads/image/' ~ product.image) }}" alt="{{ product.name }}" />
            {% endif %}
            <p>{{ product.price }}</p>
            <p>{{ product.createdAt.date }}</p>
            <p>{{ product.tag }}</p>
        </li>
    </ul>
    
    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
    <a href="{{ path('product_delete', {'id': product.id}) }}">delete</a>
{% endblock %}
